
services:
  app:
    build: .
    container_name: node_app
    ports:
      - "5000:8080"
    env_file:
      - .env.example
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start
